#plant-container {
  width: 80%;
  display: flex;
  height: calc(90% - 30px);
  justify-content: space-between;
  padding-top: 15px;
}

#plant-image-container {
  padding-top: 25px;
  width: 45%;
  display: flex;
  align-items: start;
  justify-content: start;
}
#plant-image {
  max-width: 75%;
  max-height: 80%;
  width: auto;
  height: auto;
  outline: 5px solid black;
  border: 10px solid white;
  box-shadow: 0px 10px 20px 15px #0000001f;
}

#plant-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: scroll;
}
#plant-info button {
  background: none;
  border: 0;
  border-bottom: 3px solid #69955b;
  font-family: sans-serif;
  font-weight: 600;
}

.plant-name {
  font-size: 5em;
  margin: 0;
  font-family: "Playfair-Display";
  font-weight: 100;
  line-height: 1em;
  margin: 15px 0;
  color: #252525;
}
.plant-data {
  line-height: 1.5;
  font-size: 1em;
  font-family: "Sen";
}

#info-buttons {
  background: #f5bb42;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
}

.info-button-div {
  width: 25%;
  position: relative;
  background: #f5bb42;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  transition: 1s ease;
}
.info-button {
  position: absolute;
  width: 100%;
  height: 10vh;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.info-button-p {
  color: white;
  font-size: 1.7em;
  font-family: "Open Sans Condensed";
  font-weight: 100;
  text-transform: uppercase;
}

.info-button:hover {
  background-color: #e6af3b;
}

.info-button img {
  height: 35px;
  margin-right: 15px;
}

.buying {
  background-color: #69955b;
  font-size: 1em;
  font-family: sans-serif;
}

.buying:hover {
  background-color: white;
  color: #69955b;
}

#modal {
  /* display: none; */
  position: relative;
  bottom: -10vh;
  color: white;
  margin: 0;
  background-color: #f5bb42;
  padding: 15px;
  font-family: Nunito;
}

@media (max-width: 450px) {
  #plant-container {
    flex-direction: column;
    width: calc(100% - 50px);
    padding: 0 25px;
  }
  #plant-info {
    width: 100%;
  }
  .plant-name {
    font-size: 4em;
  }
  .info-button-p {
    display: none;
  }
  .info-button img {
    margin: 0;
  }
}
